@plugin "@tailwindcss/typography";

@layer base {
  .app-prose {
    @apply prose max-w-none;

    h1,
    h2,
    h3,
    h4,
    th {
      @apply text-foreground mb-3;
    }

    p,
    strong,
    ol,
    ul,
    figcaption,
    table,
    code {
      @apply text-foreground;
    }

    h3 {
      @apply italic;
    }

    a {
      @apply text-foreground hover:text-accent wrap-break-word decoration-dashed underline-offset-4 focus-visible:no-underline;
    }

    li::marker {
      color: var(--accent);
    }

    hr {
      @apply border-border;
    }

    img {
      @apply border-border mx-auto border;
    }

    figcaption {
      @apply opacity-75;
    }

    :not(pre) > code {
      @apply bg-muted/75 font-code text-foreground rounded p-1 wrap-break-word before:content-none after:content-none;
    }

    pre {
      @apply focus-visible:outline-accent focus-visible:border-transparent focus-visible:outline-2 focus-visible:outline-dashed;
    }

    .astro-code,
    .astro-code span {
      color: var(--shiki-light);
      background-color: var(--shiki-light-bg);
    }

    blockquote {
      @apply border-s-accent/80 text-foreground wrap-break-word opacity-80;
    }

    summary {
      @apply focus-visible:outline-accent focus-visible:no-underline focus-visible:outline-2 focus-visible:outline-offset-1 focus-visible:outline-dashed;
    }
  }

  html[data-theme="dark"] .app-prose .astro-code,
  html[data-theme="dark"] .app-prose .astro-code span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}
